# OS
Thumbs.db
.DS_Store
Desktop.ini

# Editor
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
